{{ if .installFonts }}
# ET BOOK
# https://github.com/edwardtufte/et-book/

[".local/share/fonts/et-book/"]
type = "archive"
url = "https://github.com/edwardtufte/et-book/archive/24d3a3bbfc880095d3df2b9e9d60d05819138e89.zip"
include = ["**/et-book/**/*.ttf"]
stripComponents = 3

# Go Mono
# https://www.programmingfonts.org/#go-mono

[".local/share/fonts/go-mono-nerd-font/"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Go-Mono.tar.xz"
include = ["*.ttf"]

# Iosevka
# https://www.programmingfonts.org/#iosevka

[".local/share/fonts/iosevka-nerd-font/"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/iosevka.tar.xz"
include = ["*.ttf"]
{{ end }}
