{{ if .installFonts }}

# ET BOOK
# https://github.com/edwardtufte/et-book/

[".local/share/fonts/et-book-roman-line-figures.ttf"]
type = "file"
url = "https://github.com/edwardtufte/et-book/blob/24d3a3bbfc880095d3df2b9e9d60d05819138e89/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf?raw=true"
exact = true
executable = false

[".local/share/fonts/et-book-bold-line-figures.ttf"]
type = "file"
url = "https://github.com/edwardtufte/et-book/blob/24d3a3bbfc880095d3df2b9e9d60d05819138e89/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf?raw=true"
exact = true
executable = false

[".local/share/fonts/et-book-display-italic-old-style-figures.ttf"]
type = "file"
url = "https://github.com/edwardtufte/et-book/blob/24d3a3bbfc880095d3df2b9e9d60d05819138e89/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf?raw=true"
exact = true
executable = false

[".local/share/fonts/et-book-roman-old-style-figures.ttf"]
type = "file"
url = "https://github.com/edwardtufte/et-book/blob/24d3a3bbfc880095d3df2b9e9d60d05819138e89/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf?raw=true"
exact = true
executable = false

[".local/share/fonts/et-book-semi-bold-old-style-figures.ttf"]
type = "file"
url = "https://github.com/edwardtufte/et-book/blob/24d3a3bbfc880095d3df2b9e9d60d05819138e89/et-book/et-book-semi-bold-old-style-figures/et-book-semi-bold-old-style-figures.ttf?raw=true"
exact = true
executable = false

{{ end }}
