{{ if .installExternalBinaries }}

[".local/bin/delta"]
type = "archive-file"
url = "https://github.com/dandavison/delta/releases/download/{{.toolVersion.delta}}/delta-{{.toolVersion.delta}}-x86_64-unknown-linux-gnu.tar.gz"
path = "delta-{{.toolVersion.delta}}-x86_64-unknown-{{.chezmoi.os}}-gnu/delta"
exact = true
executable = true

[".local/bin/duckdb"]
type = "archive-file"
url = "https://github.com/duckdb/duckdb/releases/download/{{.toolVersion.duckdb}}/duckdb_cli-{{.chezmoi.os}}-{{.chezmoi.arch}}.zip"
path = "duckdb"
exact = true
executable = true

[".local/bin/oh-my-posh"]
type = "file"
url = "https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/{{.toolVersion.ohMyPosh}}/posh-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

[".local/bin/earthly"]
type = "file"
url = "https://github.com/earthly/earthly/releases/download/{{.toolVersion.earthly}}/earthly-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

# FIXME: Not cross-platform.
[".local/bin/fd"]
type = "archive-file"
url = "https://github.com/sharkdp/fd/releases/download/{{.toolVersion.fd}}/fd-{{.toolVersion.fd}}-x86_64-unknown-{{.chezmoi.os}}-gnu.tar.gz"
path = "fd-{{.toolVersion.fd}}-x86_64-unknown-{{.chezmoi.os}}-gnu/fd"
exact = true
executable = true

# FIXME: Not cross-platform.
[".local/bin"]
type = "archive"
url = "https://github.com/astral-sh/uv/releases/download/{{.toolVersion.uv}}/uv-x86_64-unknown-{{.chezmoi.os}}-gnu.tar.gz"
stripComponents = 1

{{ end }}
