{{ if .installExternalBinaries }}

[".local/bin/minikube"]
type = "file"
url = "https://github.com/kubernetes/minikube/releases/download/{{.toolVersion.minikube}}/minikube-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

{{ end }}
