{{ if .installGo }}

[".local/go/"]
type = "archive"
url = "https://go.dev/dl/go{{.toolVersion.go}}.{{.chezmoi.os}}-{{.chezmoi.arch}}.tar.gz"
executable = true
stripComponents = 2
include = ["go/bin/*"]

{{ end }}
