{{ if and .installExternalBinaries .installAITools }}

# Llamafile
[".local/bin"]
type = "archive"
url = "https://github.com/Mozilla-Ocho/llamafile/releases/download/{{.toolVersion.llamafile}}/llamafile-{{.toolVersion.llamafile}}.zip"
executable = true
stripComponents = 2
include = ["*/bin/*"]

{{- end }}
