{{- if .cloneNonWorkRepos -}}

["{{ .codeDirNonWork }}/light"]
type = "git-repo"
url = "git@github.com:qjcg/light"
refreshPeriod = "168h"

{{- end }}


{{ if .installExternalBinaries }}

{{ if .installAITools -}}

# FIXME: Not cross-platform.
[".local/bin/aichat"]
type = "archive-file"
url = "https://github.com/sigoden/aichat/releases/download/{{.toolVersion.aichat}}/aichat-{{.toolVersion.aichat}}-x86_64-unknown-{{.chezmoi.os}}-musl.tar.gz"
path = "aichat"
exact = true
executable = true

[".local/bin"]
type = "archive"
url = "https://github.com/Mozilla-Ocho/llamafile/releases/download/{{.toolVersion.llamafile}}/llamafile-{{.toolVersion.llamafile}}.zip"
executable = true
stripComponents = 2
include = ["*/bin/*"]

{{- end }}

[".local/bin/cue"]
type = "archive-file"
url = "https://github.com/cue-lang/cue/releases/download/{{.toolVersion.cue}}/cue_{{.toolVersion.cue}}_{{.chezmoi.os}}_{{.chezmoi.arch}}.tar.gz"
path = "cue"
exact = true
executable = true

[".local/bin/oh-my-posh"]
type = "file"
url = "https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/{{.toolVersion.ohMyPosh}}/posh-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

[".local/bin/earthly"]
type = "file"
url = "https://github.com/earthly/earthly/releases/download/{{.toolVersion.earthly}}/earthly-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

[".local/bin/minikube"]
type = "file"
url = "https://github.com/kubernetes/minikube/releases/download/{{.toolVersion.minikube}}/minikube-{{.chezmoi.os}}-{{.chezmoi.arch}}"
exact = true
executable = true

[".local/bin/kubectl"]
type = "file"
url = "https://dl.k8s.io/release/{{.toolVersion.kubectl}}/bin/{{.chezmoi.os}}/{{.chezmoi.arch}}/kubectl"
exact = true
executable = true

# FIXME: Not cross-platform.
[".local/bin/fd"]
type = "archive-file"
url = "https://github.com/sharkdp/fd/releases/download/{{.toolVersion.fd}}/fd-{{.toolVersion.fd}}-x86_64-unknown-{{.chezmoi.os}}-gnu.tar.gz"
path = "fd-{{.toolVersion.fd}}-x86_64-unknown-{{.chezmoi.os}}-gnu/fd"
exact = true
executable = true

[".local/bin/task"]
type = "archive-file"
url = "https://github.com/go-task/task/releases/download/{{.toolVersion.task}}/task_{{.chezmoi.os}}_{{.chezmoi.arch}}.tar.gz"
path = "task"
exact = true
executable = true

{{ end }}
