[color]
	ui = true
[alias]
	br = branch -avv
	ci = commit
	co = checkout
	ds = diff --staged
	dl = diff HEAD^ HEAD
	lg = log --pretty=format:'%C(yellow)%h%Creset %s  %C(red)<%cn> %Cgreen[%cr] %Creset%d' --graph
	lga = log --pretty=format:'%C(yellow)%h%Creset %s  %C(red)<%cn> %Cgreen[%cr] %Creset%d' --graph --all

	lasttag = describe --tags --abbrev=0

	re = remote -v
	reu = remote set-url
	st = status

	de = daemon --verbose --export-all

	# Via https://git.wiki.kernel.org/index.php/Aliases#Use_graphviz_for_display
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[merge]
	tool = vimdiff
	defaultToUpstream = true
[push]
	default = simple
[core]
	quotepath = false
