;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

browser=firefox
depth=0
python=/usr/bin/python2
searchsort=date
unicode=true
