[user]
	name = {{ .fullName }}
	email = {{ .email }}

# See https://stackoverflow.com/a/43654115
[includeIf "gitdir:~/{{ .codeDirWork }}/"]
    path = ~/{{ .codeDirWork }}/.gitconfig

[includeIf "gitdir:~/{{ .codeDirNonWork }}/"]
    path = ~/{{ .codeDirNonWork }}/.gitconfig

[init]
	defaultBranch = main

[alias]
	st = status
	ci = commit
	br = branch -avv
	ds = diff --staged
	re = remote -v
