#!/bin/sh
# Install system packages.
{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -Sy \
&& sudo pacman -S --needed --noconfirm {{ .packages.arch | join " " }}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
# TODO: Handle case where running as root in a container with $UID=0
sudo apt update \
&& sudo apt install -y {{ .packages.ubuntu | join " " }} \

{{ range .packages.ubuntu_snaps }}
sudo snap install {{.}}
{{ end }}

{{ range .packages.ubuntu_snaps_classic }}
sudo snap install --classic {{.}}
{{ end }}

{{ end -}}
