[Unit]
Description=Emacs: The extensible, self-documenting text editor (daemon)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env emacs --fg-daemon
ExecStop=/usr/bin/env emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
