[Unit]
Description=Slack
After=graphical-session.target

[Service]
ExecStart=/usr/bin/env slack
Restart=on-failure

[Install]
WantedBy=default.target
